header{
  position: fixed;
  width: 12%;
  top: 0;
  margin: 1rem;
  padding-top: 5px;
}

.background{
background-color: #fff8ea;
margin-right: 40px;
margin-left: 40px;
}


div{
  font-size: 34px;
  font-weight: bold;
  line-height: 2.3;
  letter-spacing: 0.2em;
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  padding-bottom: 3px;
}

.text{
  font-size: 20px;
  margin-top: 50px;
  font-weight: bold;
  line-height: 0.8;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  text-align:center
}




.content{
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
